<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/post">Post</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/edit">Edit</a></li>
        <li><a href="/delete">Delete</a></li>

    </ul>
    </header>
<%= yield %>

  </body>
</html>
