<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="views/styles.css">
    <title></title>
  </head>
  <body>
<div id="test">
</div>
    
    <header>
      <button onclick="location.href='/'" id="home">HOME</button>
      <button onclick="location.href='/profile" id="profile">PROFILE</button>
      <button onclick="location.href='/signout'" id="signout">SIGN-OUT</button></li>
    </header>
<%= yield %>

  </body>
</html>
