
<% if @current_user %>
    <h2>Is logged in:<%= @current_user.fname %></h2>
<%end%>

<% if @user %>
    <h2><%= @user.fname %> Profile</h2>

    <h2><% @user.posts.each do |post|%></h2>

<div id="recipe">
<h4><%= post.summary%></h4>
<p><%= post.content%></p>
    <%end%>
<% end %>
