<h4><a href="/profile">Back to profile</a></h4>
<h1>this is the post page</h1>

<form class="" action="/" method="post">
<input type="text" name="[post]summary" placeholder="Quick description" maxlength="150" required>
<input type="text" name="[post]content" placeholder="Full recipe" required>
<input type="submit" name="" value="submit">
</form>
