<link href="styles/layoutstyles.css" rel="stylesheet" type="text/css">

<h1>this is the profile page</h1>
<% if @current_user %>
    <h2><%= @current_user.fname %> Profile</h2>

    <h2><% @current_user.posts.each do |post|%></h2>

<div id="recipe">
<h4><%= post.summary%></h4>
<p><%= post.content%></p>
    <%end%>
<% end %>
</div>
<!--
<h4><a href="/edit">Edit</a></h4>
<h4><a href="/post">Add recipe</a></h4>
-->
<button onclick="location.href='/edit'" id="edit">Edit</button>
<button onclick="location.href='/post'" id="addRecipe">Add recipe</button>


<!-- this is a quick comment -->
