<link href="styles/layoutstyles.css" rel="stylesheet" type="text/css">
<!-- shows who's logged in -->
<% if @current_user %>
    <h2><%= @current_user.fname %>'s Profile</h2>

    <h2><% @current_user.posts.each do |post|%></h2>

    <button onclick="location.href='/delete'" id="profile">DELETE PROFILE</button>

<!-- this shows all your recipes -->
<div id="recipe">
<h4><%= post.summary%></h4>
<p><%= post.content%></p>
    <%end%>
<% end %>
</div>

<!-- this user options to edit account and add recipe. we didn't finish edit option-->
<button onclick="location.href='/edit'" id="edit">Edit</button>
<button onclick="location.href='/post'" id="addRecipe">Add recipe</button>
