<h1>this is a home</h1>
<h3>Sign Up</h3>
<form class="" action="/users/new" method="post">
    <input type="text" name="[post]fname" placeholder="User Name">
    <input type="text" name="[post]password" placeholder="Password">
    <input type="submit" name="" value="Submit">
</form>

<h3>Sign in</h3>
<form class="" action="/profile" method="post">
    <input type="text" name="fname" placeholder="First Name">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" name="" value="Submit">
</form>

<!-- this puts user names on the home page
<h4><% @users.each do |user| %></h4>
 <p>Name: <%= user.fname %></p>
  <% end %>  -->

  <h4><% @posts.each do |post| %></h4>

  <h4><a href="/member/<%= post.user.id %>"><%= post.user.fname %></a></h4>   <p> <%= post.summary %></p>
  <% end %>
