<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title></title>
  </head>
  <body>
    <header>
      <button onclick="/" id="home">HOME</button>
      <button onclick="/profile" id="profile">PROFILE</button>
      <button onclick="/signout" id="signout">SIGN-OUT</button></li>
    </header>
<%= yield %>

  </body>
</html>
